# python
__pycache__
*.pyc
.venv/

# Rust
/api/bin/
/target/

# IDE & OS
.vscode/
.DS_Store
*.log

# Fichier de données volumineux
*.csv
*.xlsx
# Outils de test et configuration
pytest.ini
.pytest_cache/

# Environnements virtuels (globalenv, .env, venv)
globalenv/
.env
venv/