# Python (Artefacts de compilation & environnements)
__pycache__/
*.pyc
.venv/
globalenv/
venv/
.pytest_cache/
*.y_backup

# Rust (Artefacts de compilation)
/target/
/api/bin/
Cargo.lock.bak

# Secrets (À ne JAMAIS commit)
.env

# IDE & OS
.vscode/
.DS_Store
*.log

# Fichiers de données volumineux (Ne pas encombrer le dépôt)
*.csv
*.xlsx